<template>
  <div>
    <!-- Add WorkLogs -->
    <div class="form-group">
      <h2>Log Your Time Bellow:</h2>
      <label for="Duration">Duration:</label>
      <input type="text" placeholder="Duration" v-model="duration" />

      <label for="Project">Project:</label>
      <select v-model="project" name="Project">
        <option disabled value="">Please select one</option>
        <option v-for="option in projectList" :key="option.id">
          {{ option }}
        </option>
      </select>

      <label for="Remark">Remark:</label>
      <input type="text" placeholder="Remark" v-model="remark" />

      <button @click="addLog">Add</button>
    </div>

    <!-- Show TotalWorkHours -->
    <div>
      <p
        v-for="(currentProject, index) in projectList"
        :key="currentProject.id"
      >
        {{ currentProject }}: {{ perProjectHours[index] }}
      </p>
      <p>TOTAL LOG FOR THE DAY:{{ totalWorkHours }}</p>
    </div>

    <!-- Show WorkLogs -->
    <div>
      <span>Sort list by:</span>
      <button @click="sorted('duration')" class="btn btn-success">
        {{ buttonTextDuration }}
      </button>
      <button @click="sorted('project')" class="btn btn-success">
        {{ buttonTextProject }}
      </button>
      <button @click="reset">Reset</button>

      <div>
        <table>
          <thead>
            <tr>
              <th>Duration</th>
              <th>Project</th>
              <th>Remark</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="workLogger in realWorkLoggerList.slice(
                0,
                realToBeShownListLength
              )"
              :key="workLogger.id"
            >
              <td>
                <span v-if="!workLogger.isEditing">{{
                  workLogger.duration
                }}</span>
                <input
                  type="text"
                  v-if="workLogger.isEditing"
                  v-model="durationToEdit"
                />
              </td>
              <td>
                <span v-if="!workLogger.isEditing">{{
                  workLogger.project
                }}</span>
                <select
                  v-if="workLogger.isEditing"
                  v-model="projectToEdit"
                  name="Project"
                >
                  <option disabled value="">Please select one</option>
                  <option v-for="option in projectList" :key="option.id">
                    {{ option }}
                  </option>
                </select>
              </td>
              <td>
                <span v-if="!workLogger.isEditing">{{
                  workLogger.remark
                }}</span>
                <input
                  type="text"
                  v-if="workLogger.isEditing"
                  v-model="remarkToEdit"
                />
              </td>
              <td>
                <button
                  v-if="!workLogger.isEditing"
                  @click="editLog(workLogger.id)"
                >
                  Edit
                </button>
                <button
                  v-if="!workLogger.isEditing"
                  @click="deleteLog(workLogger.id)"
                >
                  Delete
                </button>

                <button
                  v-if="workLogger.isEditing"
                  @click="saveLog(workLogger.id)"
                >
                  Save
                </button>
                <button
                  v-if="workLogger.isEditing"
                  @click="workLogger.isEditing = !workLogger.isEditing"
                >
                  Cancel
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <span
          >Showing {{ realToBeShownListLength }} out of
          {{ workLoggerList.length }} entries</span
        >
        <br />
        <button
          v-if="showShowMoreButton"
          @click="showMore"
          class="btn btn-link"
        >
          Show More
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import { addWorkLoggerComposable } from "../composables/AddWorkLogger";
import { totalWorkLoggerComposale } from "../composables/TotalWorkLoggerReport";
import { workLoggerListComposable } from "../composables/WorkLoggerList";

export default defineComponent({
  name: "WorkLogger",
  setup() {
    const { workLoggerList, projectList, duration, project, remark, addLog } =
      addWorkLoggerComposable();

    const { totalWorkHours, perProjectHours } = totalWorkLoggerComposale(
      workLoggerList,
      projectList
    );

    const {
      sorted,
      realWorkLoggerList,
      reset,
      showShowMoreButton,
      showMore,
      toBeShownListLength,
      realToBeShownListLength,
      editLog,
      saveLog,
      deleteLog,
      durationToEdit,
      projectToEdit,
      remarkToEdit,
      buttonTextDuration,
      buttonTextProject,
    } = workLoggerListComposable(workLoggerList);

    return {
      workLoggerList,
      projectList,
      duration,
      project,
      remark,
      addLog,
      totalWorkHours,
      perProjectHours,
      sorted,
      realWorkLoggerList,
      reset,
      showShowMoreButton,
      showMore,
      toBeShownListLength,
      realToBeShownListLength,
      editLog,
      saveLog,
      deleteLog,
      durationToEdit,
      projectToEdit,
      remarkToEdit,
      buttonTextDuration,
      buttonTextProject,
    };
  },
});
</script>

<style scoped lang="scss">
table,
th,
td {
  border: 1px solid black;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
  padding: 35px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

td,
th {
  padding: 5px;
}

th {
  cursor: pointer;
}
</style>
