<template>
  <div>
    <router-view />
  </div>
</template>

<style lang="scss">
$font-body: Avenir, Helvetica, Arial, sans-serif;
$color-body: #2c3e50;
$color-nav: #42b983;

#app {
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-body;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: $color-body;

    &.router-link-exact-active {
      color: $color-nav;
    }
  }
}
</style>
